@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    /*background: linear-gradient(#141e30, #243b55);*/
    background: #172B41;
    height: 1000px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#greeting {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: bold;
}

.weather {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.city_temperature {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
}

#recommendation-intro {
    color: #ec681f;
    font-size: 1.5rem;
    font-weight: bold;
}

#btn-get-music {
    background-color: coral;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    font-size: 1.5rem;
}


label{
    font-size: 1.5rem;
    margin-right: 2rem;
    color: white;
    margin-bottom: 0;

}

.description{
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 2.3vh;
}

#word_search{
    height: 1.5rem;
    width: 19vw;
    size: 40px;
    border-radius: 30px;
    border: transparent;
    text-align: center;

}

#word_search:focus{
    outline:none;

}

#submit{
    font-family: 'Open Sans', sans-serif;
    height: 3rem;
    width: 8rem;
    margin-left: 30px;
    border:  0;
    background-color: transparent;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    color: transparent;
    animation: blink 2s infinite ease-in-out;

}

@keyframes blink {
    1% {
        opacity: 0;
        color: transparent;
        outline: solid 0 transparent;
    }


    50% {
        opacity: 1;
        outline: solid 1px white;
    }

    100% {
        opacity: 0;
        color: white;
        outline:solid 0 transparent;
    }
}

#submit:hover{
    border: solid white 1px;
    opacity: 100%;
    color: white;

}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 15%;
    background-color: #172B41;
    border-radius: 10px;
    margin-bottom: 5vh;

}

#playList{
    height: 500px;
    width: 500px;
    overflow: auto;
}

#playList::-webkit-scrollbar-thumb {
    background-color: #ec681f;
}

#playList div {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid whitesmoke;
    height: 115px;
}

#playList img{
    float: left;
    margin-right: 10px;
}

#playList p{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ec681f;
}

#playList a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}