<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherMusic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>

    <p>{{time}}</p>

    <p class="weather">{{ temp }} {{ city }} {{ cloud }}</p>
    <p class="city_temperature"></p>
    <p class="musicvideo"></p>
    <p id="recommendation-intro">Based on the weather conditions, we thought you might like these music.</p>
    <div class="form-container">
        <form action="{{ url_for('search') }}" method="POST">

            {{ form.word_search.label }} {{ form.word_search }}
            {{ form.csrf_token }}
            {{ form.submit }}

        </form>
    </div>
    <button id="btn-get-music">Get recommended music</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>