<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherMusic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{#    <link rel="stylesheet" href="./static/style.css"/>#}
</head>
<body>

    <p id="greeting">{{time}}</p>

    <p class="weather"></p>
    <p class="city_temperature"></p>
    <p class="musicvideo"></p>
    <p id="recommendation-intro">Based on the weather conditions, we thought you might like these music.</p>
    <button id="btn-get-music">Get recommended music</button>

{#    <div class="form-container">#}
{#        <span class="description">Search for a lyric/word. LyriCount will show you which lyrics are used the most based#}
{#            on Musicians.</span>#}
{#        <form action="{{ url_for('search') }}" method="POST">#}
{##}
{#            {{ form.word_search.label }} {{ form.word_search }}#}
{#            {{ form.csrf_token }}#}
{#            {{ form.submit }}#}
{##}
{#        </form>#}
{#    </div>#}
{#    {% if form.is_submitted %}#}
{#        <div class="image-container"><img src="{{ url_for('static', filename="plot.png") }}"/></div>#}
{#    {% endif %}#}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>