<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherMusic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>

    <p>{{time}}</p>

    <p class="weather"></p>
    <p class="city_temperature"></p>
    <p class="musicvideo"></p>
    <p id="recommendation-intro">Based on the weather conditions, we thought you might like these music.</p>
    <button id="btn-get-music">Get recommended music</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>